{% extends 'base.twig' %}

{% block hero %}
  {# HERO + NAVIGATION #}
  <div class="h-20 wrapper bg-slate-50">
    {% set image = get_image(post.hero_image) %}
    <div class="container" style="background-image: ulr( {{ image.src }} )">
      <nav class="fixed w-full h-20 navigation bg-slate-400">
        {% include './menu.twig' %}
      </nav>
      <div class="hero">
        <h2><a href="{{ post.hero_cta_link }}" title="{{ post.hero_cta_text }}">{{ post.hero_cta_text }}</a></h2>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main>
    <div class="wrapper bg-slate-200">
      <div class="container w-[960px] mx-auto">
        <article>
          <header>
            <h1>{{ musics.title }}</h1>
          </header>

          {# {% if 'musics' in post.link %} #}
          <section class="mx-auto musics">
            <h2 class="text-2xl">Musiques</h2>
            <ul class="flex">
              {% for item in musics %}
                {# {% set image = get_image(cover) %} #}
                <li class="w-1/2">
                  <a href="{{ item.link }}">{{ item.meta('auteur') }}</a>

                  <ul class="pt-2">
                    <li>{{ item.meta('title') }}</li>
                    <li>{{ item.meta('duration') }}</li>
                    <li>{{ item.meta('label') }}</li>
                    <li>{{ item.meta('featuring') }}</li>
                    <li>
                      <img src="{{ get_image(item.cover).src }}" />
                    </li>
                    <li>
                      <div class="mt-4 overflow-hidden">{{ item.meta('video') }}</div>
                    </li>
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </section>
          {# {% endif %} #}
        </article>
      </div>
    </div>

    {% if 'tortues' in post.link %}
      <ul>
        {% for item in tortues %}
          <a href="">
            <li class="item">
              <div class="container__item">
                <div class="container__img">
                  <img src="{{ item.meta('title').src }}" alt="" />
                </div>
                <div class="container__content">
                  <h2>{{ item.meta('title') }}</h2>
                  <time>{{ item.meta('date') }}</time>
                  <p class="description">{{ item.meta('description') }}</p>
                </div>
              </div>
            </li>
          </a>
        {% endfor %}
      </ul>
    {% endif %}
    {# BOUCLER SUR MUSIC #}
  </main>
{% endblock %}
