{% extends 'base.twig' %}
{% block hero %}
  hero
{% endblock %}
{% block content %}
  <article class="article post-type-{{ post.type }}" id="post-{{ post.ID }}">
    <section class="article-content">
      <h1 class="article-h1">{{ post.title }}</h1>
      <h2 class="article-h2">{{ post.meta('subtitle') }}</h2>

      <p class="article-author">
        <span>By</span> {{ post.author }} <span>&bull;</span> {{ post.date }}
      </p>

      {{ post.content }}
    </section>
  </article>
{% endblock %}
