{% extends 'base.twig' %}
{% block hero %}
  {# {% include './partial/hero-movie.twig' %} #}
{% endblock %}

{% block content %}
  <article class="article-{{ post.ID }} post-type-{{ post.type }}" id="post-{{ post.ID }}">
    <section class="container mx-auto space-y-8 article-content">
      <div class="flex flex-col items-center w-screen gap-4 p-4 sm:flex-row">
        <img src="{{ get_image(post.cover).src }}" alt="alt" class="rounded-full w-52" />
        <h1 class="text-3xl">{{ post.title }}</h1>
      </div>
      <div class="flex flex-col pb-8 sm:flex-row">
        <div class="">{{ post.meta('content') }}</div>
      </div>
    </section>
    <div class="bg-black">{{ post.video }}</div>

    <section class="container mx-auto">
      {# GALLERIE PHOTO #}
      <h2>Gallerie photos</h2>
      {% include './partial/gallery.twig' %}
    </section>
    <section class="container mx-auto">
      <p class="article-author text-harvest-700">
        <span>By</span> {{ post.author }} <span>&bull;</span> {{ post.date }}
      </p>
    </section>
  </article>
{% endblock %}
