{% extends 'base.twig' %}
{% block hero %}
  {% include './partial/hero-movie.twig' %}
{% endblock %}
{% block content %}
  <article class="article post-type-{{ post.type }}" id="post-{{ post.ID }}">
    <section class="container mx-auto article-content">
      <img src="{{ get_image(post.cover).src }}" alt="alt" class="rounded-full w-52" />
      <h1 class="article-h1">{{ post.title }}</h1>
      <h2 class="article-h2">{{ post.meta('subtitle') }}</h2>

      <div class="flex">{{ post.video }}</div>
      {{ post.content }}
    </section>
    <section>
      <p class="article-author">
        <span>By</span> {{ post.author }} <span>&bull;</span> {{ post.date }}
      </p>
    </section>
  </article>
{% endblock %}
